/* sfc-style:/mnt/data/Projects/One X Mark/Extensions/btnClick/Component.vue?type=style&index=0 */
.btn_click_container {
  &[data-v-78ccdfac] {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
  }
  .center {
    .click[data-v-78ccdfac] {
    }
    .btn[data-v-78ccdfac] {
      margin: 10px 0px 0px 0px;
    }
  }
}
